body {
    background-color: rgb(0,66,103);
    font-family: 'Open Sans', sans-serif;
}

#a {
    position: absolute;
    margin-left: 0px;
    margin-top:-120px;
}

img {
    position: absolute;
    margin-left: 520px;
    margin-top: 50px;
}

#b {
    color: white;
    margin-left:750px;
    padding:40px;
}

#c {
    color: white;
    margin-left:810px;
    padding:40px;
}

div {
    margin-left:450px;
}

select {
    margin-left:450px;
}

label {
    color: white;
    text-align: justify;
    margin-left: 200px;
    position: absolute;
}


#titlelabels{
    color: white;
}

button {
    margin-left: 450px;
}

#save {
    position: absolute;
    margin-left: 450px;
}

#cancel {
    position: absolute;
    margin-left: 260px;
}

#border {
    border-bottom: 1px solid black;
    width:1000px;

}

.divider {
    border-bottom: 4px solid black;
    margin-left: 200px;
    width:1000px;
}

.d {
    color: white;
    background-color: rgb(0,66,103);
    border-radius: 18px;
    border: 2px solid white;
    width:150px;
    height:30px;
    /* margin-left:625px; */
}