body {
    background-color: rgb(33,33,33);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

label {
    color: white;
    position: absolute;
    text-align: right;
    margin-left: -20.5%;
    margin-top: 1%;
}

div {
    margin-left:25%;
}

#placemark_description {
    margin-left: -10%;
}

#upload{
    margin-left:-10%;
    margin-top:-2%;
}

#cancel {
    margin-left: 54.5%;
}