body {
    background-color: rgb(0,66,103);
    font-family: 'Open Sans', sans-serif;
    color:white;
}

h3{
    color: white;
    margin-left:750px;
    margin-top:-60px;
    position: absolute
}

#a {
    position: absolute;
    margin-left: 0px;
    margin-top:-140px;
}

img {
    position: absolute;
    margin-left: 520px;
    margin-top: 50px;
}

label {
    color: white;
    position: absolute;
    text-align: justify;
    margin-left: 200px;
    
}

div {
    margin-left:500px;
}

#birthday {
    margin-left: 500px;
}

button {
    margin-left: 500px;
}

#to {
    margin-left: 425px;
}

#save {

    margin-left: 435px;
}

#cancel {
    position: absolute;

    margin-left: -430px;
}

#border {
    border-bottom: 1px solid black;
    width:1000px;

}

h1.divider {
    border-bottom: 4px solid black;
}

.d {
    color: white;
    background-color: rgb(0,66,103);
    border-radius: 18px;
    border: 2px solid white;
    width:150px;
    height:30px;
    /* margin-left:625px; */
}

.divider2 {
    position:absolute;
    border-bottom: 4px solid black;
    width:1050px;
    margin-left:200px;
}


